:root{
    --rose:#ffafcc;
    --liteblue:#a2d2ff;
    --verylblur:#bde0fe;
    --darkbink:#ffc8dd;
    --murun:#cdb4db;
}

body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg2.jpg');
    background-position: center;
    background-size: cover;
}
body h1{
    text-align: center;
    color: var(--darkbink);
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px black;

}
.container{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    width: 900px;
    flex-wrap: wrap;
    margin: 0 auto;
    background: rgba(211, 156, 156, 0.8);
    position: relative;
    top: 2rem;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px black;
}
.container img{
    border-radius:30px;
    width: 400px;
    height: 400px;
    flex: 1;
}
.container .details{
    flex: 1;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 1px double rgb(0, 0, 0);
    margin-left: 10px;
    background: seashell;
    border-radius: 30px;
    width: 350px;
    height: 390px;
}
.container .details a{
    text-decoration: none;

    position: relative;
    top: 30%;
    border: 1px solid rgb(26, 22, 22);
    padding: 14px 26px;
    background: var(--liteblue);
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 15px;
    left: 80px;
    margin-left:20px ;
    transition: 0.3s;
    transform-origin: left;
    text-shadow: 1px 1px 1px black;
}
.container .details a:hover{
    background: var(--rose);
    color: #a2d2ff;
    transform-origin: left;
}
p{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 1.8rem;
    border: 5px  double rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    background: var(--darkbink);
    word-spacing: 10px;
}